.dedicated-space {
    @media screen and (max-width: 600px) {
      display: none;
  }
}

.dedicated__wrap {
    display: flex;
    align-items: center;
}

.dedicated__block {
    max-width: 789px;
    @media screen and (max-width: 600px) {
      padding: 0 30px;
    }
}

.dedicated__title {
    text-align: left;
    margin-bottom: 32px;
    
    
}

.dedicated__subtitle {
    font-size: 21px;
    color: $light-dark;
    max-width: 540px;
    margin-bottom: 36px;
    @media screen and (max-width: 600px) {
      font-size: 19px;
    }
}

.write__link {
    margin: unset;
}

.dedicated__image {
    position: relative;
    @media screen and (max-width: 600px) {
       margin: 0 auto;
    }
}

.dedicated__img {
     position: relative;
    z-index: 100;
    @media screen and (max-width: 600px) {
       width: 367px;
    }
}

.elemnts5 {
    position: absolute;
    top: 8%;
    right: 30%;
    z-index: 1;
    @media screen and (max-width: 1323px) {
       right: 25%;
    }
    @media screen and (max-width: 600px) {
       right: 16%;
    }
}

.circle-5 {
    width: 502px;
    height: 502px;
    background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
    top: 0%;
    right: 0%;
    filter: blur(60px);
    @media screen and (max-width: 1409px) {
       width: 450px;
       height: 450px;
    }
    @media screen and (max-width: 1323px) {
       width: 412px;
        height: 433px;
    }
    @media screen and (max-width: 1149px) {
        width: 347px;
        height: 376px;
    }
}