.hero {
  padding-bottom: 128px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 40px;
  }
}

.link__signup {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    position: relative;
    z-index: 100;
  }
}

.elemnts1 {
  position: absolute;
  //   top: 28%;
  // right: -26%;
  top: 68%;
  right: -5%;
  z-index: 1;

  @media screen and (max-width: 1530px) {
    right: 1%;
  }
  @media screen and (max-width: 1024px) {
    right: unset;
    left: 67%;
    top: 75%;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.gradient-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.gradient-circle {
  position: absolute;
  border-radius: 50%;
}

.circle-1 {
  width: 350px;
  height: 350px;
  background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  top: 0%;
  right: 0%;
  filter: blur(70px);
}

.hero__content {
  margin-top: 147px;
  @media screen and (max-width: 1024px) {
    margin: 0 auto;
    text-align: center;
  }
}

.hero__title {
  font-size: 56px;
  font-weight: 700;
  max-width: 730px;
  margin-bottom: 40px;
  @media screen and (max-width: 1148px) {
    font-size: 45px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 35px;
  }
  @media screen and (max-width: 600px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 500px) {
    font-size: 24px;
  }
}

.hero__subtitle {
  font-size: 24px;
  max-width: 421px;
  @media screen and (max-width: 1148px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.google__signup {
  background-color: $blue;
  font-size: 18px;
  color: $white;
  width: 356px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 34px;
  border-radius: 10px;
  cursor: pointer;
  img {
    background-color: $white;
    border-radius: 7px;
    padding: 12px;
    @media screen and (max-width: 500px) {
      padding: 3px;
    }
  }
  @include opacity;
  margin-bottom: 18px;
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
  @media screen and (max-width: 320px) {
    gap: 15px;
  }
}

.or {
  display: flex;
  justify-self: center;
  color: $light-gray;
  font-size: 18px;
  margin-bottom: 16px;
  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
}

.sign__group {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign__input:focus {
  outline: none;
  border-color: #6e7ff3;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 53px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  @media screen and (max-width: 500px) {
    top: 39px;
  }
}

.eye-icon {
  width: 24px;
  height: 24px;
  fill: #999;
}

.eye-icon:hover {
  fill: #666;
}

.sign__label {
  font-size: 18px;
  color: $light-dark;
  margin-bottom: 12px;
  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
}

.sign__input {
  background-color: $input-color;
  color: $light-gray;
  font-size: 18px;
  width: 356px;
  padding: 20px;
  border-radius: 10px;
  &::placeholder {
    color: $light-gray;
  }
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    padding: 14px;
    font-size: 14px;
  }
}

.envelope__img {
  padding: 15px !important;
  @media screen and (max-width: 500px) {
    padding: 6px !important;
  }
}

.info__sign {
  text-align: center;
  font-size: 14px;
  color: $light-purple;
  font-family: $font-secondary;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.6);
  max-width: 352px;
  @media screen and (max-width: 600px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 500px) {
    font-size: 12px;
    margin: 0 auto;
  }
}

.sign__now {
  @media screen and (max-width: 500px) {
    font-size: 14px;
    padding: 12px 0;
  }
}

.container__form {
  width: 100%;
  max-width: 483px;
  background-color: #fff;
  border-radius: 30px;
  padding: 58px 0px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 600px) {
    margin: unset;
    max-width: unset;
    padding: 30px 0;
  }
}

.signup__form {
  @media screen and (max-width: 600px) {
    margin-bottom: 42px;
  }
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 200%;
  height: 100%;
}

.slide {
  width: 50%;
  padding: 0 64px;
  @media screen and (max-width: 600px) {
    padding: 0 36px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.pagination-dot {
  width: 30px;
  height: 5px;
  background-color: #ddd;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #4285f4;
}

.dedicated-image__adapt {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    margin-bottom: 53px !important;
  }
}

.dedicated-block__adapt {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.input__checkbox {
  background-color: $input-color;
}

.label__checkbox {
  color: $light-gray;
}

.gender-options {
  display: flex;
  gap: 12px;
}
.gender-option {
  background-color: $input-color;
  color: $light-gray;
  width: 102px;
  text-align: center;
  padding: 11px 30px;
  font-size: 16px;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.gender-option.active {
  background-color: $light-purple;
  color: $blue;
  font-weight: 500;
}

.gender-option:hover:not(.active) {
  background-color: $light-purple;
}

.terms-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 500px;
  margin-bottom: 24px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background-color: $input-color;
  border-radius: 4px;
  margin-top: 4px;
  accent-color: $input-color;
}

// .sign__now {
//   width: 206px;
//   padding: 10px 0;
// }
