.section-slider {
    padding-bottom: 176px;
    @media screen and (max-width: 600px) {
      padding-bottom: 61px;
    }
}

.slider__wrapper {
  position: relative;
  width: 100%;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}


.sliders__img {
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease;
  gap: 40px;
  position: relative;
  z-index: 100;
  @media screen and (max-width: 1024px) {
      gap: 0;
    }
}

.slides__img {
  flex-shrink: 0;
  cursor: grab;
  img {
    width: 564px;
    height: 500px;
    border-radius: 40px;
    cursor: pointer;
    @media screen and (max-width: 1288px) {
      width: 450px;
      height: unset;
    }
    @media screen and (max-width: 1024px) {
      width: 364px;
    }
    @media screen and (max-width: 600px) {
      width: 280px;
    }
  }
}


/* Додаємо текст для прикладу */
.slides__img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}


// .modal {
//     display: none; /* Скрыто по умолчанию */
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
//     z-index: 1000;
//     justify-content: center;
//     align-items: center;
//     overflow-y: auto;
//   }

//   .modal-content {
//     background-color: white;
//     border-radius: 8px;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//     max-width: 500px;
//     width: 90%;
//     position: relative;
//     margin: 50px auto;
//     animation: modalFadeIn 0.3s;
//   }

//   @keyframes modalFadeIn {
//     from {
//       opacity: 0;
//       transform: translateY(-20px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }

//   .close-modal {
//     position: absolute;
//     top: 15px;
//     right: 15px;
//     font-size: 24px;
//     cursor: pointer;
//     color: #666;
//     transition: color 0.2s;
//     z-index: 1010;
//   }

//   .close-modal:hover {
//     color: #000;
//   }
