
.universe-communication {
    padding-bottom: 217px;
     @media screen and (max-width: 1150px) {
         padding-bottom: 172px;
    }
}

.streaming__titles {
  max-width: 1131px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 38px;
}

.streaming__title {
  margin-bottom: 26px;
}

.streaming__subtitle {
  font-size: 24px;
  max-width: 558px;
  margin: 0 auto;
    @media screen and (max-width: 1150px) {
     font-size: 20px;
    }
}

.gallery-wrapper {
  position: relative;
  width: 100%;
}

.gallery-track {
  overflow: hidden;
  position: relative;
}

.gallery-inner {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.gallery-item {
  flex: 0 0 auto;
  width: 435px;
  border-radius: 40px;
  overflow: hidden;
  height: 435px;
  cursor: grab;
  position: relative;

  img {
    border-radius: 40px;
  }
   @media screen and (max-width: 1288px) {
      width: 400px;
    }
    @media screen and (max-width: 1024px) {
        width: 300px;
        height: 300px;
    }
}
