//font

$font-main: 'Trebuchet MS', sans-serif;
$font-secondary: 'Cera Round Pro DEMO', sans-serif;

// //color

$white: #fff;
$dark: #000;
$light-dark: #303030;
$body-bg: #F6F7FA;
$light-white: #FCFCFF;
$blue: #1A73E8;
$light-gray: #8789A1;
$input-color: #F5F7F9;
$light-purple: #595B75;