@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms");
@import url("https://fonts.cdnfonts.com/css/cera-round-pro-demo");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Trebuchet MS", sans-serif;
  color: #000;
  padding: 0;
  background-color: #F6F7FA;
}

.basic__container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 15px;
}
.basic__container--Xlg {
  max-width: 1596px;
}
.basic__container--Elg {
  max-width: 1468px;
}
@media screen and (max-width: 768px) {
  .basic__container--Elg {
    padding: 0 35px;
  }
}
.basic__container--lg {
  max-width: 1347px;
}
.basic__container--sm {
  max-width: 1324px;
}
.basic__container--Xsm {
  max-width: 800px;
}

a {
  font-family: "Trebuchet MS", sans-serif;
}

.h2title__global {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 43px;
  text-align: center;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1148px) {
  .h2title__global {
    font-size: 45px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .h2title__global {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .h2title__global {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .h2title__global {
    font-size: 24px;
  }
}

.link__free {
  background: #574DCC;
  background: linear-gradient(90deg, rgb(87, 77, 204) 0%, rgb(87, 154, 255) 100%);
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  display: block;
  width: 360px;
  padding: 21px 0;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1148px) {
  .link__free {
    font-size: 20px;
    width: 320px;
  }
}
@media screen and (max-width: 500px) {
  .link__free {
    font-size: 20px;
    width: 320px;
  }
}
@media screen and (max-width: 450px) {
  .link__free {
    width: 280px;
  }
}
@media screen and (max-width: 375px) {
  .link__free {
    width: 100%;
  }
}

.gallry__free {
  padding: 0 30px;
}

header {
  padding-top: 48px;
  padding-bottom: 76px;
}
header nav {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 700px) {
  header {
    padding-top: 93px;
    padding-bottom: 0;
  }
}

.header__login {
  font-size: 18px;
  background: linear-gradient(to right, #579AFF, #574DCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-color: #fff;
  display: block;
  width: 136px;
  padding: 14px 21px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: opacity 0.3s ease-in;
}
.header__login:hover {
  opacity: 0.75;
}
@media screen and (max-width: 700px) {
  .header__login {
    display: none;
  }
}

.hero {
  padding-bottom: 128px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero__block {
    flex-direction: column;
    gap: 40px;
  }
}

.link__signup {
  display: none;
}
@media screen and (max-width: 600px) {
  .link__signup {
    display: block;
    position: relative;
    z-index: 100;
  }
}

.elemnts1 {
  position: absolute;
  top: 68%;
  right: -5%;
  z-index: 1;
}
@media screen and (max-width: 1530px) {
  .elemnts1 {
    right: 1%;
  }
}
@media screen and (max-width: 1024px) {
  .elemnts1 {
    right: unset;
    left: 67%;
    top: 75%;
  }
}
@media screen and (max-width: 600px) {
  .elemnts1 {
    display: none;
  }
}

.gradient-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.gradient-circle {
  position: absolute;
  border-radius: 50%;
}

.circle-1 {
  width: 350px;
  height: 350px;
  background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  top: 0%;
  right: 0%;
  filter: blur(70px);
}

.hero__content {
  margin-top: 147px;
}
@media screen and (max-width: 1024px) {
  .hero__content {
    margin: 0 auto;
    text-align: center;
  }
}

.hero__title {
  font-size: 56px;
  font-weight: 700;
  max-width: 730px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1148px) {
  .hero__title {
    font-size: 45px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .hero__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .hero__title {
    font-size: 24px;
  }
}

.hero__subtitle {
  font-size: 24px;
  max-width: 421px;
}
@media screen and (max-width: 1148px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__subtitle {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .hero__subtitle {
    font-size: 16px;
  }
}

.google__signup {
  background-color: #1A73E8;
  font-size: 18px;
  color: #fff;
  width: 356px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 34px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  margin-bottom: 18px;
}
.google__signup img {
  background-color: #fff;
  border-radius: 7px;
  padding: 12px;
}
@media screen and (max-width: 500px) {
  .google__signup img {
    padding: 3px;
  }
}
.google__signup:hover {
  opacity: 0.75;
}
@media screen and (max-width: 1080px) {
  .google__signup {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .google__signup {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .google__signup {
    gap: 15px;
  }
}

.or {
  display: flex;
  justify-self: center;
  color: #8789A1;
  font-size: 18px;
  margin-bottom: 16px;
}
@media screen and (max-width: 500px) {
  .or {
    font-size: 15px;
  }
}

.sign__group {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign__input:focus {
  outline: none;
  border-color: #6e7ff3;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 53px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.eye-icon {
  width: 24px;
  height: 24px;
  fill: #999;
}

.eye-icon:hover {
  fill: #666;
}

.sign__label {
  font-size: 18px;
  color: #303030;
  margin-bottom: 12px;
}
@media screen and (max-width: 500px) {
  .sign__label {
    font-size: 15px;
  }
}

.sign__input {
  background-color: #F5F7F9;
  color: #8789A1;
  font-size: 18px;
  width: 356px;
  padding: 20px;
  border-radius: 10px;
}
.sign__input::placeholder {
  color: #8789A1;
}
@media screen and (max-width: 1080px) {
  .sign__input {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .sign__input {
    padding: 14px;
    font-size: 14px;
  }
}

.envelope__img {
  padding: 15px !important;
}
@media screen and (max-width: 500px) {
  .envelope__img {
    padding: 6px !important;
  }
}

.info__sign {
  text-align: center;
  font-size: 14px;
  color: #595B75;
  font-family: "Cera Round Pro DEMO", sans-serif;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.6);
  max-width: 352px;
}
@media screen and (max-width: 600px) {
  .info__sign {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .info__sign {
    font-size: 12px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .sign__now {
    font-size: 14px;
    padding: 12px 0;
  }
}

.container__form {
  width: 100%;
  max-width: 483px;
  background-color: #fff;
  border-radius: 30px;
  padding: 58px 0px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 1024px) {
  .container__form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .container__form {
    margin: unset;
    max-width: unset;
    padding: 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .signup__form {
    margin-bottom: 42px;
  }
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 200%;
  height: 100%;
}

.slide {
  width: 50%;
  padding: 0 64px;
}
@media screen and (max-width: 600px) {
  .slide {
    padding: 0 36px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.pagination-dot {
  width: 30px;
  height: 5px;
  background-color: #ddd;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #4285f4;
}

.dedicated-image__adapt {
  display: none;
}
@media screen and (max-width: 600px) {
  .dedicated-image__adapt {
    display: block;
    margin-bottom: 53px !important;
  }
}

.dedicated-block__adapt {
  display: none;
}
@media screen and (max-width: 600px) {
  .dedicated-block__adapt {
    display: block;
  }
}

.input__checkbox {
  background-color: #F5F7F9;
}

.label__checkbox {
  color: #8789A1;
}

.gender-options {
  display: flex;
  gap: 12px;
}

.gender-option {
  background-color: #F5F7F9;
  color: #8789A1;
  width: 102px;
  text-align: center;
  padding: 11px 30px;
  font-size: 16px;
  cursor: pointer;
}
.gender-option:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.gender-option:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (max-width: 500px) {
  .gender-option {
    font-size: 12px;
  }
}

.gender-option.active {
  background-color: #595B75;
  color: #1A73E8;
  font-weight: 500;
}

.gender-option:hover:not(.active) {
  background-color: #595B75;
}

.terms-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 500px;
  margin-bottom: 24px;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  background-color: #F5F7F9;
  border-radius: 4px;
  margin-top: 4px;
  accent-color: #F5F7F9;
}

.section-slider {
  padding-bottom: 176px;
}
@media screen and (max-width: 600px) {
  .section-slider {
    padding-bottom: 61px;
  }
}

.slider__wrapper {
  position: relative;
  width: 100%;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sliders__img {
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease;
  gap: 40px;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1024px) {
  .sliders__img {
    gap: 0;
  }
}

.slides__img {
  flex-shrink: 0;
  cursor: grab;
}
.slides__img img {
  width: 564px;
  height: 500px;
  border-radius: 40px;
  cursor: pointer;
}
@media screen and (max-width: 1288px) {
  .slides__img img {
    width: 450px;
    height: unset;
  }
}
@media screen and (max-width: 1024px) {
  .slides__img img {
    width: 364px;
  }
}
@media screen and (max-width: 600px) {
  .slides__img img {
    width: 280px;
  }
}

/* Додаємо текст для прикладу */
.slides__img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.global-about {
  padding-bottom: 170px;
}
@media screen and (max-width: 600px) {
  .global-about {
    padding-bottom: 55px;
  }
}

.about__wrap {
  background-color: #fff;
  border-radius: 60px;
  padding: 66px 0 80px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 1148px) {
  .about__wrap {
    padding: 53px 30px 66px 30px;
  }
}

.about__txts {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 49px;
}
.about__txts p {
  font-size: 24px;
}
.about__txts p:first-child {
  margin-bottom: 24px;
}
@media screen and (max-width: 1148px) {
  .about__txts p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .about__txts p {
    font-size: 16px;
  }
}
.about__txts span {
  font-weight: 700;
}

.link__free {
  transition: opacity 0.3s ease-in;
}
.link__free:hover {
  opacity: 0.75;
}

.elemnts2 {
  position: absolute;
  top: -18%;
  right: -5%;
  z-index: 1;
}
@media screen and (max-width: 1258px) {
  .elemnts2 {
    right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .elemnts2 {
    display: none;
  }
}

.circle-2 {
  width: 217px;
  height: 217px;
  background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  top: 0%;
  right: 0%;
  filter: blur(60px);
}

.joinUs-section {
  padding-bottom: 172px;
}
@media screen and (max-width: 500px) {
  .joinUs-section {
    padding-bottom: 69px;
  }
}

.join__wrap {
  position: relative;
}

.blocks__join {
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 500px) {
  .blocks__join {
    margin-bottom: 60px;
  }
}

.block__join {
  background-color: #fff;
  width: 400px;
  padding: 40px 34px 34px 42px;
  border-radius: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 600px) {
  .block__join {
    padding: 30px 22px 27px 22px;
  }
}
.block__join p {
  font-size: 18px;
  color: #303030;
}
@media screen and (max-width: 1024px) {
  .block__join p {
    font-size: 16px;
  }
}

.blocks1__join {
  display: flex;
  gap: 46px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .blocks1__join {
    gap: 21px;
    margin-bottom: 20px;
  }
}

.blocks2__join {
  display: flex;
  justify-content: flex-end;
  gap: 46px;
}
@media screen and (max-width: 768px) {
  .blocks2__join {
    gap: 21px;
  }
}

.titles__join {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 8px;
}

.title__join {
  font-size: 24px;
  font-weight: 700;
  color: #303030;
}
@media screen and (max-width: 1024px) {
  .title__join {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title__join {
    font-size: 18px;
  }
}

.elemnts3 {
  position: absolute;
  top: -3%;
  right: 20%;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .elemnts3 {
    top: 38%;
    right: 11%;
  }
}

.gradient-circle {
  position: absolute;
  border-radius: 50%;
}

.circle-3 {
  width: 473px;
  height: 473px;
  background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  top: 0%;
  right: 0%;
  filter: blur(85px);
}
@media screen and (max-width: 1024px) {
  .circle-3 {
    width: 366px;
    height: 391px;
  }
}
@media screen and (max-width: 500px) {
  .circle-3 {
    width: 409px;
    height: 409px;
  }
}

.image-join__adapt {
  display: none;
}
@media screen and (max-width: 500px) {
  .image-join__adapt {
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 30px;
    margin: 0 auto;
  }
}

.slider-container__join {
  display: none;
}

@media (max-width: 500px) {
  .blocks1__join,
  .blocks2__join {
    display: none; /* Hide original layout */
  }
  .slider-container__join {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  .slideres {
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
  }
  .slidee {
    flex: 0 0 100%;
    width: 100%;
    background-color: white;
    padding: 25px;
  }
  /* Pagination dots */
  /* .slider-pagination {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 8px;
      } */
  .slider-pagination {
    display: none;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .dot.active {
    background-color: #666;
  }
}
.features-section {
  padding-bottom: 172px;
}
@media screen and (max-width: 600px) {
  .features-section {
    padding-bottom: 57px;
  }
}

.find__wrap {
  position: relative;
  z-index: 100;
}

.feature__block {
  background-color: #fff;
  padding: 42px 109px 42px 130px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 550px) {
  .feature__block {
    flex-direction: column;
    padding: 40px 31px 32px 31px;
  }
}

.feature__title {
  font-size: 24px;
  font-family: "Cera Round Pro DEMO", sans-serif;
}
@media screen and (max-width: 1150px) {
  .feature__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .feature__title {
    text-align: center;
    font-size: 16px;
  }
}

.elemnts4 {
  position: absolute;
  top: 14%;
  left: -20%;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .elemnts4 {
    display: none;
  }
}

.universe-communication {
  padding-bottom: 217px;
}
@media screen and (max-width: 1150px) {
  .universe-communication {
    padding-bottom: 172px;
  }
}
@media screen and (max-width: 600px) {
  .universe-communication {
    padding-bottom: 60px;
  }
}

.streaming__titles {
  max-width: 1131px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 38px;
}
@media screen and (max-width: 1150px) {
  .streaming__titles {
    padding: 0 30px;
    text-align: left;
  }
}

.streaming__title {
  margin-bottom: 26px;
}
@media screen and (max-width: 1150px) {
  .streaming__title {
    text-align: left;
  }
}

.streaming__subtitle {
  font-size: 24px;
  max-width: 558px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .streaming__subtitle {
    font-size: 20px;
  }
}

.gallery-wrapper {
  position: relative;
  width: 100%;
}

.gallery-track {
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.gallery-inner {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.gallery-item {
  flex: 0 0 auto;
  width: 435px;
  border-radius: 40px;
  overflow: hidden;
  height: 435px;
  cursor: grab;
  position: relative;
}
.gallery-item img {
  border-radius: 40px;
}
@media screen and (max-width: 1288px) {
  .gallery-item {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .gallery-item {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 550px) {
  .gallery-item {
    width: 280px;
    height: 300px;
  }
}

.elemnts3-adapt {
  display: none;
}
@media screen and (max-width: 600px) {
  .elemnts3-adapt {
    display: block;
    top: -19%;
  }
}

@media screen and (max-width: 600px) {
  .dedicated-space {
    display: none;
  }
}

.dedicated__wrap {
  display: flex;
  align-items: center;
}

.dedicated__block {
  max-width: 789px;
}
@media screen and (max-width: 600px) {
  .dedicated__block {
    padding: 0 30px;
  }
}

.dedicated__title {
  text-align: left;
  margin-bottom: 32px;
}

.dedicated__subtitle {
  font-size: 21px;
  color: #303030;
  max-width: 540px;
  margin-bottom: 36px;
}
@media screen and (max-width: 600px) {
  .dedicated__subtitle {
    font-size: 19px;
  }
}

.write__link {
  margin: unset;
}

.dedicated__image {
  position: relative;
}
@media screen and (max-width: 600px) {
  .dedicated__image {
    margin: 0 auto;
  }
}

.dedicated__img {
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  .dedicated__img {
    width: 367px;
  }
}

.elemnts5 {
  position: absolute;
  top: 8%;
  right: 30%;
  z-index: 1;
}
@media screen and (max-width: 1323px) {
  .elemnts5 {
    right: 25%;
  }
}
@media screen and (max-width: 600px) {
  .elemnts5 {
    right: 16%;
  }
}

.circle-5 {
  width: 502px;
  height: 502px;
  background-image: linear-gradient(to bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  top: 0%;
  right: 0%;
  filter: blur(60px);
}
@media screen and (max-width: 1409px) {
  .circle-5 {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 1323px) {
  .circle-5 {
    width: 412px;
    height: 433px;
  }
}
@media screen and (max-width: 1149px) {
  .circle-5 {
    width: 347px;
    height: 376px;
  }
}

.footer {
  background-color: #FCFCFF;
  padding: 103px 0 90px 0;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 52px 0;
  }
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 949px) {
  .footer__nav {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 639px) {
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .footer__nav {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-nav__list li {
  margin-bottom: 22px;
}
.footer-nav__list li a {
  font-size: 22px;
  color: #303030;
  transition: opacity 0.3s ease-in;
}
.footer-nav__list li a:hover {
  opacity: 0.75;
}
@media screen and (max-width: 1200px) {
  .footer-nav__list li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer-nav__list li a {
    font-size: 16px;
  }
}
.footer-nav__list li h3 {
  font-size: 22px;
  color: #303030;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .footer-nav__list li h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer-nav__list li h3 {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */